.btn:hover {
  cursor: pointer;
}

.title {
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 10px;
}

.submit-btn-container {
  margin-top: 10px;
}

.error-msg {
  margin-bottom: 10px;
  font-size: 12px;
  color: red;
}

#image-grid {
  width: 400px;
  margin-top: 20px;
  .image {
    width: 400px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .tag-list {
    display: inline-block;
    margin-top: 4px;
  }
  .delete-image-btn {
    float: right;
    margin-bottom: 30px;
  }
}

.tag, .filter-tag {
  padding: 5px 8px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid gray;
  color: gray;
}

.filter {
  width: 400px;
  display: none;
  margin-top: 20px;
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 8px;
  #clear-filter-btn {
    float: right;
    position: relative;
    bottom: 4px;
  }
}
